[mysqld]
server-id                       = 1
log_bin                         = mysql-bin
innodb_flush_log_at_trx_commit  = 1
sync_binlog                     = 1
binlog-format                   = ROW
default-authentication-plugin   = mysql_native_password